<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="AxConDb" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="AxConUseCase" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
    
  <appSettings>
    
    <add key="StyleGuideDbConStringLIVE"  value="yuvIWgGgjNeaC52Ii+sRWAmcD1gerSVrMI09sZgLZLE/h1Z6qKxZYsnrwK6teZ3ZImOaFXO9Ipl8YzAhW/dpap6gYvsdfM++ZFqSE0uTsGvExhkP6UhG+k9ftCQUichgD0+ZwO+HhfXlG3fuhFqlOA=="/>
    <add key="StyleGuideDbConStringTan37" value="u13Xant0FibXSatA45nJG7vkGTLdGLjGAjHBY4j5oUbXUzugpybWt12cXjjxVmJ2+iihqP6V1b8hYTUNRFD9rsCx028cWxRgiPjSwNM8Qoz12qmPvX5ISLL6M3XH7uAdfbC2Xu8hXX5KQw6YP7PJ7Q=="/>

    <add key="StyleGuideDbConString"      value="u13Xant0FibXSatA45nJG7vkGTLdGLjGAjHBY4j5oUbXUzugpybWt12cXjjxVmJ2+iihqP6V1b8hYTUNRFD9rsCx028cWxRgiPjSwNM8Qoz12qmPvX5ISLL6M3XH7uAdfbC2Xu8hXX5KQw6YP7PJ7Q=="/>

    <add key="ShowEntityCountModifiedInLastXdays" value="1"/>

    <add key="SITE_ID" value="AJE"/>
    <add key="AJCMS_CONFIG_FOLDER" value="C:\OryxV4config\AJE\AppMan"/>
    <add key="AJCMS_CONFIG_FILE" value="AppMan.CFG"/>
    <add key="AccessDeniedPage" value="/Portal/Misc/AccessDenied.html"/>
  </appSettings>

  <AxConDb>
    <add key="Server" value="02-tan-24"/>
    <add key="Database" value="AJE_Axcon" />
    <add key="Uid" value="axcon" />
    <add key="Pwd" value="unDimtnoSxY/1QKL+ndJxw==" />
    <add key="PwdEncKey" value="74uj5rzTDDNMlOsNv1L8+g==" />
    <!--PwdEncMethod:Rijndael | b67-->
    <add key="PwdEncMethod" value="Rijndael" />
  </AxConDb>

  <AxConUseCase>
    <add key="AccessStyleGuide" value="1495527390803"/>
  </AxConUseCase>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
 
</configuration>
